<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
=======
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
>>>>>>> 66d674624b83b2cb1b191abcf1bb70a45fbd93e7
